# 虚拟网关配置（UCI格式）

config virtual_gw 'global'
    option state 'side'                 # 必填：master/side master→旁路由IP | side→外网IP
    option detect_src_addr '8.8.8.8'    # 必填：旁路由IP | 外网IP
    option check_interval '3'           # 检测间隔（秒）
    option enabled '0'                  # 必须为0
    option log_level '1'                # 日志级别 0-关闭 1-基础 2-详细

config section 'virtual_gw'             # 虚拟网关接口配置
	option proto 'static'               # 静态IP
	option device 'br-lan'              # 物理设备
	option ipaddr '192.168.50.5'        # 虚拟接口IP
	option netmask '255.255.255.0'      # 子网掩码




